@using Microsoft.CodeAnalysis.CSharp.Syntax
@* @using domain.entities *@
@{
    ViewData["Title"] = "Home Page";
}
@model List<domain.dto.restaurant.RestaurantResponseDTO>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h2>Restauranger</h2>

    @if(Model != null && Model.Any())
    {
        <ul> 
            @foreach(var r in Model)
            {
                <div>
                    <a 
                        asp-controller="Restaurant" asp-action="Details" asp-route-id="@r.Id">
                        <strong><h2>@r.Name</h2></strong>
                    </a>
                </div>
            }
        </ul>
    }
    else
    {
        <p>Hittade inga restauranger. Försök igen senare</p>
    }
</div>